:root {
    --main-color: #60b8ff;
    /*--main-color: #5ef286; Green Theme*/ 
    --dark-color: #11152a;
    --light-color: #d0d4ed;
}
/*This CSS Page is for Separate Divs. PS. dont use UL LI Albert Magnifico */

/* All admin pages/files applied by this css *pag bago isa bago lahat* */
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.side-menu .menu-text {
    font-size: 15px;
}
th, td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3 {
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px 0;
}

/* Course Tabel/Add Course Tabeeeeell CSS */
.course_lists {
    border-collapse: collapse;
    width: 100%;
}
.course_lists tr {
    border: .5px solid black
}
.course_lists th, td {
    text-align: left;
    padding: 8px;
}
.course_lists th {
    text-align: center;

}
.course_lists td {
    background-color: #ddd;
    text-align: center;
}
  
.course_lists td:nth-child(even) {
    background-color: lightblue;
}

.add_course {
    display: flex;
    justify-content: center;
    height: 10%;
}
.add_course th {
    padding-top: 10px;
}
.add_course td {
    text-align: center;
    padding: 0 5px 15px 5px;
}
.btn_add {
    width: 100%; 
    height: 30px; 
    border-radius: 8px; 
    margin-bottom: 40px;
    cursor: pointer;
    background-color: lightblue;
    transition: .5s;
}
.btn_add:hover {
    background-color: var(--main-color);
    transition: .5s;
}

.course_image {
    padding: 5px 7px;
}

/* Instructor Tabel CSS */


/* Student Tabel CSS hahaha tey-bel */