:root {
    --main-color: #60b8ff;
    /*--main-color: #5ef286; Green Theme*/ 
    --dark-color: #11152a;
    --light-color: #d0d4ed;
}
/* This CSS Page is for Separate Divs. PS. dont use UL LI Albert Magnifico */
.side-menu .menu-text {
    font-size: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border: .5px solid black
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  td {
    background-color: #ddd;
  }
  
td:nth-child(even) {
    background-color: lightblue;
}
