:root {
    --main-color: #5ef286;
    --dark-color: #11152a;
    --light-color: #d0d4ed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    background-color: white;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1, 
h2 {
    color: var(--dark-color);
    font-size: 1.2rem;
    left: 0;
}

.dashb_content {
    position: absolute;
}
.side-menu {
    position: absolute;
    background-color: var(--main-color);
    width: 19vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.side-menu ul .smateo-hs .logo {
    position: sticky;
}
.logo {
    background-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    /*width: 18vh;
    height: 8vh;*/
}
.logo a {
    margin: 35px 0 35px;
    text-align: center;
    font-family: Georgia, serif;
    color: blue;
    font-weight: bold;
}
.logo span {
    color: black;
}
.side-menu .smateo-hs { 
    top: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.side-menu li {
    font-size: 15px;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    cursor: pointer;
}
.side-menu li:hover {
    background: #38923c;
    color: var(--dark-color);
}


/* container, content etc */
.container {
    position: absolute;
    right: 0;
    width: 90vw;
    height: 100%;
    background-color: rgb(255, 238, 238);
}
.container .dashb_content {
    position: relative;
    width: 89vw;
    height: 100%;
    margin: 15px 10px 0;
}
.container .dashb_content h1 {
    margin: 3px 25px 5px;
}
hr.line {
    border: 1px solid var(--main-color);
}
.container .dashb_content .smateo-logo {
    display: flex;
    justify-content: center;
}
.container .dashb_content .smateo-logo img {
    height: 150px;
}



/* To-Do-Lists CSS */
.a-todo {
    position: relative;
    margin: 0 auto;
    background-color: #eee;
    font: 1rem 'Poppins', sans-serif;
}
.a-todo > h1,
.day-activity {
    padding: .2rem;
    font-size: 1.2rem;
}
.day-activity {
    position: static;
    display: flex;
    flex-direction: column;
    margin-left: 14vh;
    background: left/contain content-box border-box no-repeat
        url('../images/notebook.png') white;
}
.day-activity > h2,
.day-activity > p {
    margin: .2rem;
    font-size: 1rem;
    margin-left: 6vh;
}
input.chk-box {
    display: absolute;
    margin: 20px 50px 0;
    float: left;
    border-style: none;
    transform: scale(2);
}


/* Subjects CSS */
.content {
    padding: 2000px;
}
.header1 {
    padding:5px;
    text-align: center;
    background-color:#4cc0ff;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}
.food-card {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.5); 
    cursor: pointer;
}
.aside {
    background-color:#DCDCDC;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.aside img {
    margin-top: 5px;
}


/* Accounts CSS */
.profile {
    position: absolute;
}
.dashb_content .profile {
    align-items: center;
    justify-items: center;
}
.profile .left-pane {
    position: relative;
    float: left;
    margin-right: 2vh;
    height: 35vw;
    width: 80vh;
    padding: 20px;
}
.left-pane .profile-icon img {
    height: 20vh;
    margin-top: 5px;
}
.profile-icon .usern h1 {
    font-size: 2em;
}
.left-pane .acc-settings {
    margin-top: 30px;
    text-align: center;
}
.acc-settings h4 {
    color: black;
    font-size: 1em;
}
.acc-settings h4:hover {
    color: rgb(73, 167, 255);
    background-color: var(--main-color);  
}


.profile .right-pane {
    position: relative;
    display: flex; 
    height: 35vw;
    margin-left: 2vh;
    width: 80vh;
}
.right-pane .right-content {
    padding: 20px;

}
.right-content h4 {
    margin-top: 10px;
    word-spacing: 1px;
    font-size: medium;
}
.right-content .rc-text {
    font-size: 15px;
    margin-bottom: 10px;
    cursor: default;
    flex-direction: column; /* asdasd */
}

/* Teachers CSS */
.compose-msg {
    position: relative;   
}
.compose {
    float: right;
    margin-right: 20px;
    background-color: var(--main-color);
    border-radius: 8px; 
    width: 60px;
    padding: 5px;
}
.compose img {
    width: 50px;
}








/* Responsive CSS Area */
@media screen and (max-width: 400px) {
    .side-menu {
        position: absolute;
        display: flex;
        width: 8vh;
        height: 100%;
        align-items: center;
        margin: 0 auto;
    }
    .side-menu li {
        width: 8vh;
    }
    .side-menu h4 {
        display: none;
    }
    .logo {
        width: 8vh;
        display: flex;
    }
    .logo a {
        margin: 15px 0 10px;
    }

    .container {
        position: absolute;
        width: 38vh;
        height: 100%;
        margin: 0;
    }
    .container .dashb_content {
        position: relative;
        width: 35vh;
        height: 100%;
        margin: 15px 10px 0;
    }

    /*To-do*/
    .a-todo h1 {
        text-align: left;
        padding-top: 10px;
        font-size: 1rem;
    }
    .day-activity {
        margin-left: 10vh;
        width: 15vw;
        background: left/contain content-box border-box no-repeat
            url('../images/notebook.png') white;
    }
    .day-activity > h2,
    .day-activity > p {
        display: flex;
        margin-left: 7vh;
    }
    input.chk-box {
        transform: scale(2);
        margin: 40px 30px 0 50px;
    }

    /*Account Settings*/
    .profile .left-pane {
        height: 50vw;
        width: 35vh;
        padding: 20px;
        /*border: 1px solid black;*/
    }
    .left-pane .profile-icon img {
        height: 10vh;
        margin-top: 5px;
    }
    .profile-icon .usern h1 {
        font-size: 1em;
    }
    .left-pane .acc-settings {
        margin-top: 0;
    }
    .acc-settings h4 {
        color: black;
        font-size: .8em;
    }
    .acc-settings h4:hover {
        color: rgb(73, 167, 255);
        background-color: var(--main-color);  
    }
    
    
    .profile .right-pane {
        /*border: 1px solid black;*/
        height: 100vw;
        width: 30vh;
    }
    .right-pane .right-content {
        padding: 20px;
    }
    .right-content h4 {
        margin-top: 0;
        word-spacing: 1px;
        font-size: small;
    }
    .right-content .rc-text {
        font-size: 15px;
        margin-bottom: 10px;
        cursor: default;
    }
    

    

}