:root {
    --main-color: #5ef286;
    --dark-color: #11152a;
    --light-color: #d0d4ed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    background-color: #424242;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1, 
h2 {
    color: var(--dark-color);
}

.side-menu {
    position: absolute;
    background-color: var(--main-color);
    width: 19vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.logo {
    background-color: var(--light-color);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    /*width: 18vh;
    height: 8vh;*/
}
.logo a {
    margin: 35px 0 35px;
    text-align: center;
    font-family: Georgia, serif;
    color: black;
    font-weight: bold;
}
.side-menu .smateo-hs { 
    top: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.side-menu li {
    font-size: 15px;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    cursor: pointer;
}
.side-menu li:hover {
    background: #38923c;
    color: var(--dark-color);
}


/* container, content etc */

.container {
    position: absolute;
    right: 0;
    width: 90vw;
    height: 100%;
    background-color: rgb(255, 238, 238);
}
.container .dashb_content {
    position: relative;
    width: 89vw;
    height: 100%;
    margin: 15px 10px 0;
}
.container .dashb_content h1 {
    margin: 3px 25px 5px;
}
hr.line {
    border: 1px solid var(--main-color);
}
.container .dashb_content .smateo-logo {
    display: flex;
    justify-content: center;
}
.container .dashb_content .smateo-logo img {
    height: 150px;
}

@media screen and (max-width: 400px) {
    body {
        max-width: 100vh;
    }
    .side-menu {
        position: absolute;
        display: flex;
        width: 8vh;
        height: 100%;
        align-items: center;
        margin: 0 auto;
    }
    .side-menu li {
        width: 8vh;
    }
    .side-menu h4 {
        display: none;
    }
    .logo {
        width: 8vh;
        display: flex;
    }
    .logo a {
        margin: 15px 0 10px;
    }

    .container {
        position: absolute;
        width: 38vh;
        height: 100%;
        margin: 0;
    }
    .container .dashb_content {
        position: relative;
        width: 35vh;
        height: 100%;
        margin: 15px 10px 0;
    }

}

