:root {
    --main-color:#35CEFF;
    /*--main-color:  #60b8ff; */ 
    --dark-color: #11152a;
    --light-color: #d0d4ed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #ececec, #35CEFF);
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1, 
h2 {
    color: var(--dark-color);
    font-size: 1.2rem;
    left: 0;
}
h3 {
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px 0;
}
.container {
    position: absolute;
    right: 0;
    width: 90vw;
    height: 100%;
    background-color: rgb(255, 238, 238);
}
.dashb_content {
    position: relative;
}
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    background: linear-gradient(0.25turn, #1C96D8, #0076B5, #35CEFF);
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}
.side-menu .smateo-logo {
    display: flex;
    justify-content: center;
}
.side-menu a {
    padding: 3px 8px 3px 32px;
    text-decoration: none;
    font-size:1.5em;
    display: block;
    transition: 0.3s;
}
.side-menu ul {
    margin-top: 20px;
}
.side-menu a:hover {
    color: #f1f1f1;
}
.side-menu .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #818181;
    font-size: 2em;
    padding: 5px;
}
.side-menu .closebtn:hover {
    color: red;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--main-color);
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    transition: 0.3s;
}
.openbtn1 {
    display: none;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--main-color);
    color: black;
    padding: 10px 15px; 
    border: none;
    border-radius: 12px;
    transition: 0.3s;
}
.openbtn:hover, .openbtn1:hover {
    background-color: rgb(34, 131, 187);
    transition: 0.5s;
}

#main {
    transition: margin-left .5s;
    padding: 15px;
}
@media screen and (max-width: 768px) {
    #main h2, .openbtn {
        display: none;
    }
    .openbtn1  {
        display: block;
    }
    .closebtn {
        margin-left: 10px;
    }
}
/* height < 450px bababa padding and a smaller font size */
@media screen and (max-height: 768px) {
    .side-menu { padding-top: 15px; }
    .side-menu a { font-size: 18px; }
}

.side-menu .menu-text {
    font-size: 18px;
    font-weight: bolder;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}
.side-menu li {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
    cursor: pointer;
    margin-left: 0;
}
.side-menu ul {
    width: 220px;
}
.side-menu ul a:hover {
    background: var(--main-color);
    color: var(--dark-color);
}


/* container, content etc */

.dashb_content {
    position: relative;
    height: 100%;
    margin: 10px 5px 0;
}
.dashb_content h1 {
    margin: 3px 25px 15px;
}
hr.line {
    border: 1px solid var(--main-color);
}
.dashb_content .smateo-logo {
    display: flex;
    justify-content: center;
}
.dashb_content .smateo-logo img {
    height: 150px;
}


/**COMBO BOX*/
.multi-selector {
    width: max-content;
}
.select-field {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}
.select-field,.task,.list {
    width: 100%;
    background-color: white;
}
.list {
    border: 1px solid black;
    padding: 5px;
    display: none;
}
.task {
    display: flex;
    font-weight: 300;
    justify-content: space-between;
}
.task span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 200;
    padding: top;
}
.arrow-down {
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    transform: .2s linear;
}
.show {
    display: block;
}
.rotate180 {
    transform: rotate(180deg);
}

/* Subjects CSS */

.header {
    padding: 15px 10px 5px 10px ;
    text-align: center;
    background-color:#4cc0ff;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    transition: .5s;
}
.header:hover {
    background-color: rgb(34, 131, 187);
    transition: .5s;
}
.subj-card {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.5); 
    cursor: pointer;
}

.aside {
    padding: 15px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.aside img {
    margin-top: 5px;
}
.subj {
    background-color: #ccc;
    padding: 0;
    height: 50%;
    justify-self: center;
}
.subj img {
    width: 100%;
    border-radius: 0px 0px 25px 25px;
    height: 100%;
}

.s-table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}
.s-table tr {
    border: 1px solid black;
}
.s-table th {
    padding: 8px;
    background-color: var(--main-color);
}
.s-table td {
    text-align: center;
    padding: 10px 15px;
}
.s-table a:hover {
    text-decoration: underline;
}

/* Accounts CSS */
.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.profile .left-pane {
    width: 40%;
    padding: 20px;
    /*border: 1px solid black;*/
}
.left-pane .profile-icon img {
    height: 20vh;
    margin-top: 5px;
}
.profile-icon .usern h1 {
    font-size: 2em;
}
.left-pane .acc-settings {
    margin-top: 30px;
    text-align: center;
}
.acc-settings h4 {
    color: black;
    font-size: 1em;
    transition: 0.3s;
}
.acc-settings h4:hover {
    color: white;
    background-color: rgb(110, 110, 110);
    transition: 0.5s;
}


.profile .right-pane {
    float: right;
    top: 0;
    /*border: 1px solid black;*/
    width:  58%;
}
.right-pane .right-content {
    padding: 30px;
}
.right-content h4 {
    word-spacing: 1px;
    text-align: right;
    padding-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    cursor: default;
}
.right-content .rc-text {
    font-size: 15px;
}
.student_info {
    display: flex;
}
.student_info td {
    padding: 3px 0;
    width: 350px;
}
.student_info input[type="date"] {
    width: 100%;
}
.student_info button[type="submit"] {
    padding: 5px 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease-out .3s;
}
.student_info button[type="submit"]:hover {
    background-color: var(--main-color);
}
.student_info input[type="text"] {
    width: 100%;
    font-weight: 600;
}
.student_info h5, .profile h5 {
    color:rgb(110, 110, 110);
    font-weight: 700;
    font-style: italic;
}
.right-title {
    margin: 5px 10px; 
}



/* Teachers CSS */
.right button {
    padding: 3px 12px 3px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 1rem;
    border: 1px white solid;
    background-color: lightskyblue;
    border-radius: 5px;
    transition: .5s;
}
.right input[type="search"] {
    height: 2em;
}
.right button:hover {
    border: 1px black solid;
    background-color: var(--main-color);
    transition: .5s;
}
.right {
    margin-top: 5px;
    margin-right: 20px;
    display: flex;
    gap: 4px;
    justify-content: flex-end;
}


/* Responsive CSS Area */
@media screen and (max-width: 768px) {
   .side-menu ul {
        width: 60px;
   }
   .side-menu li img {
        justify-items: center;
        margin-left: -15px;
   }
    .side-menu h4 {
        display: none;
    }
    .dashb_content h1 {
        font-size: small;
        margin: 3px 25px 10px;
    }
    /*Account Settings*/
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile .left-pane {
        height: 50vw;
        width: 80%;
        padding: 15px;
        /*border: 1px solid black;*/
    }
    .left-pane .profile-icon img {
        height: 10vh;
        margin-top: 5px;
    }
    .profile-icon .usern h1 {
        font-size: 1em;
    }
    .left-pane .acc-settings {
        margin-top: 0;
    }
    .acc-settings h4 {
        color: black;
        font-size: .8em;
    }
    .acc-settings h4:hover {
        color: rgb(73, 167, 255);
        background-color: var(--main-color);  
    }
    
    
    .profile .right-pane {
        /*border: 1px solid black;*/
        margin-top: 5px;
        width: 90%;
    }
    .right-pane .right-content {
        padding: 10px;
    }
    .right-content h4 {
        word-spacing: 1px;
        font-size: small;
    }
    .right-content .rc-text {
        font-size: 15px;
        cursor: default;
    }
    .right-title {
        font-size: 15px;
        text-align: center;
    }
    .right-title img {
        margin-top: 5px;
    }
    /* Subject CSS */
}