:root {
    --main-color:#35CEFF;
    /*--main-color:  #60b8ff; */ 
    --dark-color: #11152a;
    --light-color: #d0d4ed;
}
/* This CSS Page is for Separate Divs. PS. dont use UL LI Albert Magnifico */
.side-menu .menu-text {
    font-size: 15px;
}
h3 {
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px 0;
}



/* Modules */
.modulestbl {
    width: 100%;
}
.modulestbl th, td {
    padding: 10px 15px;
}   
.modulestbl th {
    border: 1px solid black;
}

/* Upload Files */
.btnup {
    background-color:#fac700;
    color:var(--dark-color);
    width: 8%;
    height:5%;
    margin: 20px 0;
    padding: 10px 15px ;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    border: 1px solid black;
    margin-left:1%;
}
.btnup:hover {
    background-color: var(--dark-color);
    color:white;
}
input[type="file"] {
    border-radius: .4em;
    color:white;
    width:auto;
}
input[type="file"]::file-selector-button {
    width:auto;
    padding:10px 10px;
    border-radius: .4em;
    color:black;
    background-color: white;
    transition: .5s;
}
input[type="file"]::file-selector-button:hover {
    background-color: lime;
    color:white;
}
.txtcode {
    background-color:inherit;
    width: auto;
    color:black;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    border-radius: 7px;
    font-size: 1em;
    border: 1px solid white;
    padding:10px 0px;
}
input[type="text"] {
    height: 20px;
}

/* Teacher - Link & Module Table & Course View */
.t-table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}
.t-table tr {
    border: 1px solid black;
}
.t-table th {
    padding: 8px;
    background-color: var(--main-color);
}
.t-table td {
    text-align: center;
    padding: 10px 15px;
}
.t-table a:hover {
    text-decoration: underline;
}
/*teacher grade table*/

.tableFixHead {
overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
height: 100px; /* gives an initial height of 200px to the table */
}
.tableFixHead thead th {
position: sticky; /* make the table heads sticky */
top: 0px; /* table head will be placed from the top of the table and sticks to it */
}
table {
border-collapse: collapse; /* make the table borders collapse to each other */
width: 60%;
height:30%;
margin-top:2%;
}
.tBtns {
    margin: 0 0 5px 0;
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px 10px;
    background: linear-gradient(200deg, rgba(255,255,255,1) 0%, rgba(173,255,95,1) 28%, rgba(0,255,72,1) 100%);
    cursor: pointer;

    color: black;
    font-weight: 600;
    font-size: .9em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.tBtns:hover {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(173,255,95,1) 28%, rgba(0,255,72,1) 100%);
}

th,
td {
    
    text-align:center;
    padding: 8px 16px;
    border: 1px solid black;
}
th {
    background-color: var(--main-color);
}


/* Add Functions */
.weektxt1 {
    padding: 14px 30px;
    width: 12%;
    border: 1px solid black;
    border-radius: 5px;
}
.weeklbl {
    margin-right: 1em;
    color:black;
    text-align: center;
    font-size: 1.2em;
}
.hlbl {
    width: auto;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    color:black;
}
.upload {
    background-color: var(--light-color);
    width: auto;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    border-radius: 7px;
    font-size: 1em;
    border: 1px solid rgb(8, 206, 163);
    padding:10px 5px;
}
.status {
    padding: 5px 10px;
    border-radius: 5px;
}