
php/dbase_config.php
.archives
uploads/.DS_Store
.vscode/settings.json
.vscode

courses/course1_view.php
admin/admin_dashboard.html
admin/student_management.html
admin/user_settings.html
courses/course1_view.php
teachers/tchr_attendance.html
